# Ignore VSCode settings
.vscode/

# Build output directories
bin/
obj/

# Common binary and library files
*.dll
*.so
*.dylib
*.exp
*.lib
*.pdb

# Visual Studio files
*.sln
*.vcxproj
*.user
*.filters
.vs

# Build systems
Makefile
*.make

# Other misc files
imgui.ini
